<div class="navbar-wagon">
  <!-- Logo -->
<!--   <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo 2.png" %>
    <% end %> -->

    <h1 class="slideRight"> <%= link_to "Sandrine Loiret", "home", class: "navbar-wagon-item navbar-wagon-link" %></h1>



    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">



      <!-- Links when logged in -->
      <%= link_to "About", "about", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Start now?", "start_now", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Coaching", "coaching", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "e-book", "ebook", class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Login link (when logged out) -->
      <!--      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "logo 2.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <div class="banner-4">
             <h3>Step-by-step course</h3>

           </div>
           <div class="row black">

            <div class="col-md-6"><h4 class="text-center">Take lessons</h4><i class="fa fa-book fa-2x" aria-hidden="true"> </i></div>
            <div class="col-md-6"><h4 class="text-center">Dowload courses</h4><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></div>
            <div class="col-md-6"><h4 class="text-center">Contactez-moi</h4><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></div>
            <div class="col-md-6"><h4 class="text-center">Infos supp</h4><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></div>
          </div>
          <div class="banner-5">
            <h3>Close</h3>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

