<div class="container-fluid no-padding">
  <div class="banner">
    <div class="banner-content text-center parallax">
      <br>
      <br>
      <h1>
        <svg class="arrows">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
      </h1>
    </div>
  </div>
  <div class="banner-parallax-1" id="sandrine-text">
    <div class="row-eq-height">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div class="texte-sandrine">
          <h3 >Dear visitors, Welcome</h3>
          <br>
          <h5>"Kindness is always fashionable, and always welcome." </h5> <br><p>Amelia Barr</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      </div>
    </div>
  </div>
  <div id="the-number-four" class="container-fluid">
<!--     <div class="test">
        <div class="texte-sandrine-2 hidden-xs hidden-sm">
          <h3>"Je m'appelle Sandrine"</h3>
          <br>
          <p>J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix.
          La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...</p>


    </div>
    </div> -->
    <div class="row text-center hidden-xs hidden-sm alignement-texte">
      <div class="col-xs-12 col-md-6">
        <div class="case-1 case-01">
          <%= link_to "Relation", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
          <div class="modal modal-link fade case-11" id="my-modal" title="My modal">
            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <h3 id="myModalLabel">Relation</h3>
            </div>
            <div class="modal-body">
            J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
            </div>
            <div class="modal-footer">
            <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="case-1 case-02">
            <%= link_to "Body-health", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
          <div class="modal modal-link fade case-12" id="my-modal" title="My modal">
            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <h3 id="myModalLabel">Body-health</h3>
            </div>
            <div class="modal-body">
             J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
            </div>
            <div class="modal-footer">
              <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="case-1 case-03">
          <%= link_to "Nutrition", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
          <div class="modal modal-link fade case-13" id="my-modal" title="My modal">
            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <h3 id="myModalLabel">Nutrition</h3>
            </div>
            <div class="modal-body">
             J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
            </div>
            <div class="modal-footer">
              <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="case-1 case-04">
          <%= link_to "Self-Esteem", "#my-modal", :class => "btn-modal", "data-toggle" => "modal" %>
          <div class="modal modal-link fade case-14" id="my-modal" title="My modal">
            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <h3 id="myModalLabel">Self-Esteem</h3>
            </div>
            <div class="modal-body">
             J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix. La psychothérapie que je propose est basée sur l'écoute, la bienveillance... J'utilise au sein des séances et en fonction de chacun les registres dû psychique,mental, corporel, physique et émotionnel. Je peux en fonction de la recherche du patient et pour l aider à dépasser certaines peurs m appuyer sur : l'Art thérapie, la bioénergie, le psychodrame, l'analyse transactionnelle...
            </div>
            <div class="modal-footer">
              <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-eq-height">
        <div class="border-texte">
          <div class="texte-sandrine-alpha hidden-xs hidden-sm">
            <h3>"Je m'appelle Sandrine"</h3>
            <br>
            <p>J'ai suivi la formation de psychanalyste/psychothérapeute intégratif à la Nouvelle Faculté Libre à Paris. J'ai donc une approche dite Intégrative fondée sur la phénoménologie et l existentialisme une approche dite humaniste-existentielle. La thérapie que je propose consiste à consolider la capacité de chacun à exprimer ses difficultés, repérer ses blocages, ce qui nous empêche de vivre librement en trouvant ses propres solutions en développant des changements qui nous permettent de faire nos choix, vos choix.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
  <div class="banner-parallax-2">
    <div>
      <h4 class="text-center">"I've learned that people will forget what you saidpeople will forget what you did, <br>but people will never forget how you made them feel."</h4><br>
      <p class="text-center">Maya Angelou</p>
    </div>
  </div>
  <div id="the-why" class="container-fluid">
    <div class="row">
      <div class="why text-center">
        <div class="col-xs-12 col-md-3">
          <div class="newclass">
            <h3>What I do</h3>
            Being happy
            <br>
            <br>
            <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
            <br>
            <br>
            <div class="btn btn-primary btn-lg">Read more
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="newclass">
            <h3>What I offer you </h3>
              A way to be happy
            <br>
            <br>
            <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
            <br>
            <br>
          <div class="btn btn-primary btn-lg">Contact me</div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="newclass">
            <h3>What I do</h3>
            Being happy
            <br>
            <br>
            <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
            <br>
            <br>
            <div class="btn btn-primary btn-lg">Read more
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="newclass">
            <h3>What I offer you </h3>
            A way to be happy
            <br>
            <br>
            <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
            <br>
            <br>
            <div class="btn btn-primary btn-lg">Contact me
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Ils ont aimé:</h3>
          <div class="section-title-divider">
          </div>
          <p class="section-description"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><%= image_tag "blind.jpg" %>
            </div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
             <div class="pic"><%= image_tag "sandrine-yoga-on-rocks.jpg" %>
            </div>
            <h4>Sara Parker</h4>
            <span>S.City</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Free Stuff</h3>
          <p class="subscribe-text">Please, feel free to download</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
           <a class="subscribe-btn" href="#">Download</a>
         </div>
      </div>
    </div>
  </section>
  <div class="banner-parallax-3">
  </div>
</div>

  <!--   <div id="seventh-floor" class="container-fluid">
      <div class="row text-center">
        <br><h3> #10 photo galerie</h3>
      </div>
    </div> -->


