<header class="blog1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Le coin des lecteurs</h1>
        </div>
      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Trouvez un article", class: "input-case" %>
    <%= submit_tag "Chercher", class: "btn btn-success" %>
    <% end %>
      </div>
      <%= link_to "Ecrire un nouvel article", new_post_path(@post), class: "btn btn-success btn-lg" %>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
<div class="row">
  <div class="col-xs-8">
    <div class="research">
    <% if @posts.present? %>
      <%= @posts %>
    <% else %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>
    </div>

  </div>
</div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <div class="post-preview">
        <a >
          <% @posts.each do |post| %>
          <h2 class="post-title"><%= post.title %></h2>

        </a>

        <div>
          <h3 class="post-subtitle">
            <%= raw(post.body).truncate(158) %>
          </h3>
        </div>
        <p class="post-meta">Posted by
          <a href="#">Sandrine Loiret</a>
          on <%= post.created_at.strftime('%b %d, %Y') %> </p>

          <%= link_to "READ MORE", post_path(post), class: "btn btn-info" %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-info" %>


          <br>

          <% end %>
        </div>

      </div>
    </div>
  </div>





