<header class="sea">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Le coin des lecteurs</h1>
          <span class="subheading">Bienvenue dans mon blog</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= link_to "Nouveau blog", new_post_path(@post), class: "btn btn-success btn-lg" %>

      <div class="post-preview">
        <a >
          <% @posts.each do |post| %>
          <h2 class="post-title"><%= post.title %></h2>

        </a>

        <div>
          <h3 class="post-subtitle">
            <%= raw(post.body).truncate(158) %>
          </h3>
        </div>
        <p class="post-meta">Posted by
          <a href="#">Sandrine Loiret</a>
          on <%= post.created_at.strftime('%b %d, %Y') %> </p>

          <%= link_to "READ MORE", post_path(post), class: "btn btn-info" %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-info" %>


          <br>

          <% end %>
        </div>

      </div>
    </div>
  </div>





